<div class="ui two column stackable grid">
    <div class="column">
        <div class="ui segment">
            {{ form_errors(form) }}
            {{ form_row(form.name) }}

            <a href="#" class="ui labeled button icon primary" data-url="{{ path('bitbag_sylius_catalog_plugin_admin_catalog') }}">
                <i class="eye icon"></i>
                {{ 'bitbag_sylius_catalog_plugin.catalog'|trans }}
            </a>
        </div>
    </div>
</div>
